# Python caching files
__pycache__/
*.pyc
.pytest_cache/

# Streamlit local configurations
.streamlit/

# Local databases (Never upload large data files or production databases)
data/ecommerce.db

# Environment variables containing sensitive API keys
.env